body{
    margin: 0;
    padding: 0;
    background-color: #FAEFDC;
	font-family: belleza;
}
.logo {
    width: 100vw;
    position: fixed;
    background-color: #FAEFDC;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 10;
    border-bottom: 1px #5D3125;
}

.logo img {
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 70px;
    width: auto;
}

nav { 
    margin-top: 100px;
    position: fixed;
    background-color: #FAEFDC;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); 
    height: 65px;
    width: 100vw;
    z-index: 10;
}

header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    text-align: center;
}

header nav .main-menu, 
header nav .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav .main-menu li {
    display: inline-block;
    margin: 0;
}

nav .main-menu li a {
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    color: #842F14;
    font-size: 20px;
    color: #842F14;
    font-family: Monstserrat;
}

nav .main-menu li a:hover {
    background-color: #842e14c9;
    color: #FAEFDC;
    border-radius: 50px;
    padding: 10px 15px 10px ;
    display: block;

}

nav .main-menu .submenu li,
nav .main-menu .submenu li a {
    display: block;
    text-align: center;
    padding: 5px 5px;
    font-size: 16px;
}

/*footer*/

footer{
    border-top: 1px solid #a93e1f;
    background: #f3dec7;
    padding: 50px 0 35px;
    position: relative;
}
  
footer .footer-left,
footer .footer-center,
footer .footer-right{
    display: inline-block;
    vertical-align: top;
}
   
footer .footer-left{
    text-align: center;
    width: 35%;
    color: #5D3125;
}


footer img{
    width: 50%;
}
  
footer .footer-center{
    width: 35%;
}
  
footer .footer-center i{
    background-color:  #5D3125;
    color: #FAEFDC;
    font-size: 18px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    margin: 10px 15px;
    vertical-align: middle;
}
  
footer .footer-center p{
    display: inline-block;
    color:#5D3125;
    font-weight:400;
    vertical-align: middle;
    margin:0;
    font-size: 14px;
}
   
footer .footer-center p a{
    color:  #c53b15;
    text-decoration: none;;
}
   
footer .footer-right{
    width: 20%;
}
  
footer .footer-right{
    line-height: 20px;
    color:  #7a7270;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

  
footer .footer-right span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
  
footer .socialIcon{
    margin-top: 25px;
}
  
footer .socialIcon i{
    background-color: #5D3125;
    color: #FAEFDC;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-line{
    border: 0;
    height: 1px;
    background-color: #5d3125ba;
    margin: 30px 80px;
}

/*sections*/


.sectionone {
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
    padding-top: 100px;
}
.sectionone .s1_left-col{
    width: 50%;
}

.sectionone img{
    height: 70%;
    float: right;
    padding: 70px;
}

.sectionone .s1_right-col{
    flex: 1;
    width: 50%;
    margin-right: 200px;
}

.s1_right-col h1{
    margin-bottom: 50px;
    font-size: 50px;
    color: #5c1c09;
}

.s1_right-col h2{
    color: #5D3125;
    font-weight: 600;
    margin-bottom: 50px;
}

.s1_right-col p{
    margin-top: 35px;
    font-size: 20px;
    color: #5D3125;
    line-height: 1.5;
}

.sectiontwo {
    height: 75vh;
    margin: 0;
}
.sectiontwo img{
    width: 100%;
}

.sectionthree {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 50px;
}

.s2_left-col {
    width: 50%;
    margin-left: 150px;
}

.s2_left-col h1 {
    margin-bottom: 50px;
    font-size: 50px;
    color: #5c1c09;
}

.s2_left-col p{
    margin-top: 35px;
    font-size: 20px;
    color: #5D3125;
    line-height: 1.5;
    padding-right: 150px;
}


.s2_right-col {
    width: 50%;
}