body{
    margin: 0;
    padding: 0;
    background-color: #FAEFDC;
	font-family: belleza;
}

.sectionone {
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
    padding-top: 100px;
}
.sectionone .s1_left-col{
    width: 50%;
}

.sectionone img{
    height: 70%;
    float: right;
    padding: 70px;
}

.sectionone .s1_right-col{
    flex: 1;
    width: 50%;
    margin-right: 200px;
}

.s1_right-col h1{
    margin-bottom: 50px;
    font-size: 50px;
    color: #5c1c09;
}

.s1_right-col h2{
    color: #5D3125;
    font-weight: 600;
    margin-bottom: 50px;
}

.s1_right-col p{
    margin-top: 35px;
    font-size: 20px;
    color: #5D3125;
    line-height: 1.5;
}

.sectiontwo {
    height: 75vh;
    margin: 0;
}
.sectiontwo img{
    width: 100%;
}

.sectionthree {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 50px;
}

.s2_left-col {
    width: 50%;
    margin-left: 150px;
}

.s2_left-col h1 {
    margin-bottom: 50px;
    font-size: 50px;
    color: #5c1c09;
}

.s2_left-col p{
    margin-top: 35px;
    font-size: 20px;
    color: #5D3125;
    line-height: 1.5;
    padding-right: 150px;
}


.s2_right-col {
    width: 50%;
}